
h1 {
  text-align: center;
}


header {
  width: 100%;


ul {
  display: flex;
  flex-direction: row;

  li{
    list-style: none;
    cursor: pointer;
    padding: 1em;
    position: relative;
    min-width: 100px;

    ul {
      display: none;
      flex-direction: column;
      position: absolute;
      background: white;
      left: 2em;
      width: 100%;

      li {
         padding: .2em;
      }
    }
  }

  li:hover {

    ul {
      display: flex;
    }
  }
}

}
