@import '../theme/vars.scss';
input {
  border-radius: 4px;
  border-style: groove;
}

img {
  width: 400px;
  height: 300px;
  margin-left: 400px;
}

.usernameForm {
  margin-top: $topMargin;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
  margin-bottom: 40px;
  float: left;
}

.emailForm {
  margin-top: $topMargin;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
}


.welcomeHeader {
  background-color: #FF3D00;
  line-height: 90px;
  vertical-align: text-bottom;
  text-align: center;
}

.landingHeaderWords {
  background-color: #FF3D00;
  line-height: 90px;
  vertical-align: text-bottom;
  text-align: center;
}

.userInfo {
  border: 2px solid black;
  border-radius: 6px;
  display: inline-flex;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
  text-align: center;
  height: 666px;
  width: 264px;
}

.usernameLanding {
  margin-top: $topMargin;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
  text-align: center;
}

.emailLanding {
  margin-top: $topMargin;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
  text-align: center;
}


.content {
  border: 2px solid black;
  height: 666px;
  width:1100px;
  float:right;
  display: inline-block;
  margin-top: 0px;
}

.groupForm {
  margin-top: $topMargin;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
  margin-bottom: 20px;
}

.aboutMeInput {
  width: 200px;
}

.aboutMeForm {
  margin-top: $bigTopMargin;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
}

.passwordForm {
  margin-top: $bigTopMargin;
  margin-left: $leftMargin;
  margin-right: $rightMargin;
}

.deleteButton {
  margin-top: $bigTopMargin;
}
