.overlay {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;

  &:after {
    background: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    content: '';
    opacity: .5;
    position: fixed;
  }
  > .modal {
    background: #ffffff;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    top: 30%;
    width: 300px;
    z-index: 3;
    padding: 20px;
    border-radius: 3px;

    button {
      margin: 10px;
    }
  }
}
